Swashbuckle is generating body parameters instead of query string parameters

When I create an API endpoint with a GET http method, the method parameters get generated as body parameters. This is invalid, since GET requests don't have bodies.

```cs
[HttpGet]
public Item GetItem(Guid itemGuid) { /* ... */ }
```

produces

```json
{
  "/api/Catalog/GetShow":{
    "get":{
      "tags":[
        "Catalog"
      ],
      "operationId":"Catalog_GetShow",
      "consumes":[

      ],
      "produces":[
        "application/json",
        "text/json",
        "application/xml",
        "text/xml"
      ],
      "parameters":[
        {
          "name":"showGuid",
          "in":"body",
          "required":true,
          "schema":{
            "type":"string"
          }
        }
      ],
      "responses":{
        "200":{
          "description":"OK",
          "schema":{
            "$ref":"#/definitions/AdminShow"
          }
        }
      },
      "deprecated":false
    }
  }
}
```

I can fix this by explicitly declaring the parameter to be from the URI like so:

```cs
[HttpGet]
public Item GetItem([FromUri]Guid itemGuid) { /* ... */ }
```

But I think it would be better to have Swashbuckle always consider parameters in Http GET endpoints to be query string parameters.

I get it - I really do!

But, I'm going to push back and say that this would be an invalid assumption for SB to make. Although it would be a strange choice, technically HTTP/REST does allow a body with a GET request:

From the horses mouth: https://groups.yahoo.com/neo/groups/rest-discuss/conversations/messages/9962

Isn't explicitness in a code base a good thing?

Ok, so it's possible to have a body in a GET request. But in the link you reference, Roy also says it's never useful to do so. So wouldn't it be best to at least make the default behavior such that parameters are read from the query string on GET requests instead of from the body? Especially since this is the behavior you're going to want 99.999% of the time?

I have to agree with Trevor on this. This is a bit annoying on a project that I'm working on with asp.net core. We are likely to have around 400 controllers and so having to make sure that every parameter on a get action has a FromQuery attribute will become a problem for us. It would be very useful if we could set defaults for this. Also a default method for any actions would be useful.

Trevor is correct with regards to sending a body with a GET request. While RFC-2616 has been superseded, the updated RFC ([RFC-7231, section 4.3.1](https://tools.ietf.org/html/rfc7231#section-4.3.1)) still cautions against sending a payload body with a GET request.

> A payload within a GET request message has no defined semantics; sending a payload body on a GET request might cause some existing implementations to reject the request.

In other words, a GET request with a body is not covered by the RFC, and may cause OSI layer 5 infrastructure (e.g. firewalls, proxies) to block the request.

Based on this, it's fairly safe to assume that if a method only allows GET requests, the parameters to that method must be supplied in the query string.

And this is why I try to avoid making assumptions. Now this has introduced a regression for others - #716.

@domaindrivendev: It looks like there's been a bit of a misunderstanding here.

Looking back at the issue history above, this issue started off discussing the *default* source of parameters supplied with GET requests. In other words, if neither [FromUri] nor [FromBody] are specified, which one should be assumed?

Looking at #716, the developer there has explicitly decorated the parameter with [FromBody]. Sure, it's a grey area according to the RFC and may not work everywhere, but that's the developer's choice. But in any case, the key issue there is that SB is ignoring the attribute entirely.

I can see how this probably happened. The discussion above got a bit heated around whether GET requests can have a body at all, and lost focus on the fact that only the *default* source of the parameter was being debated.

From what I can see, this should be relatively easy to fix without causing any further valid regressions.